.search-title-container {

  @media (max-width: 800px) {
    flex-direction: column;
  }

  input {
    margin-right: 10px;
    max-width: 400px;
    @media (max-width: 800px) {
      margin-right: 0;
    }
  }

  button {
    width: 250px;
    @media (max-width: 800px) {
      margin-top: 10px;
      width: 100%;
      max-width: 400px;
    }
  }
}

.all-books-container .image-container {

  @media (max-width: 450px) {
    display: none;
  }
}